.top-header-img{
    width: 100%;
}
.collapse .nav-item a {
    font-size: 1rem;
}

.navigation-section .navbar-brand {
    font-size: 1.2rem;
}

.navigation-section .navbar-brand .heading {
    background-color: #14A44D;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}

.navigation-section .navbar-brand .subheading {
    background-color: #fff;
    color: rgb(252, 110, 33);
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.collapse .nav-item a:hover {
    background-color: rgb(252, 110, 33);
    color: whitesmoke;
}

.about-pic img {
    width: 150%;
    height: auto;
}

.about-text h2 {
    margin-top: 12%;
    margin-left: 20%;
    font-size: 2rem;
}

.about-text p {
    margin-top: 2%;
    margin-left: 20%;
    font-size: 1.5rem;
}

.play-container {
    margin-top: 1%;
    margin-left: 20%;
    font-size: 1.5rem;
}

.play-container a {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}


/* .feature-box {
    width: 50%;
    background-color: #cabbbb;
    margin: 1px;
} */
.card{
    transition: all .2s ease-in-out;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: .2px solid coral;
    transform: scale(1.1);
    cursor: pointer;
}


/* .play-btn {
    margin-top: 100px;
    font-size: 2rem;
} */